# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build results
# =========================
bin/
obj/
out/

# =========================
# .NET Core
# =========================
*.dll
*.exe
*.pdb
*.cache

# =========================
# Rider
# =========================
.idea/
*.sln.iml

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
